affine==2.4.0
anyio==4.12.0
anywidget==0.9.21
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
bcrypt==4.2.0
beautifulsoup4==4.13.4
bleach==6.3.0
blinker==1.9.0
bokeh==3.9.0
Bottleneck==1.4.2
bqplot==0.12.45
branca==0.8.2
Brlapi==0.8.6
Brotli==1.1.0
Cartopy==0.25.0
category_encoders==2.9.0
certifi==2025.1.31
cffi==2.0.0
cftime==1.6.5
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
cmdstanpy==1.3.0
colorama==0.4.6
colour==0.1.5
comm==0.2.3
contourpy==1.3.1
cryptography==43.0.0
cssselect==1.3.0
cupshelpers==1.0
cvxopt==1.3.0
cycler==0.12.1
dbus-python==1.4.0
debugpy==1.8.18
decorator==5.2.1
defusedxml==0.7.1
devscripts==2.25.15+deb13u1
diive==0.90.0
distlib==0.3.9
distro==1.9.0
dtreeviz==2.3.2
-e git+https://github.com/zhujiedong/dyco.git@50567aaf490134775f67ffc83960263e58167415#egg=dyco
earthengine-api==1.7.16
eerepr==0.1.2
eli5==0.14.0
et_xmlfile==2.0.0
executing==2.2.1
fastjsonschema==2.21.1
filelock==3.18.0
fiona==1.10.1
Flask==3.1.2
flexcache==0.3
flexparser==0.4
fluxfootprints==0.2.4
folium==0.20.0
fonttools==4.57.0
footprint-toolkit==0.0.1
fqdn==1.5.1
freetype-py==2.5.1
fs==2.4.16
fuse-python==1.0.9
future==1.0.0
galois==0.4.11
galternatives==1.0.10
GDAL==3.10.3
geemap==0.36.6
geocoder==1.38.1
geopandas==1.1.2
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
google-cloud-core==2.5.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gpg==1.24.2
graphviz==0.21
gyp-next==0.16.2
h11==0.16.0
holidays==0.95
html5lib-modern==1.2
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
idna==3.10
importlib_resources==7.1.0
inflect==7.3.1
iniconfig==1.1.1
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.2.0
ipyleaflet==0.20.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.12.1
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-leaflet==0.20.0
jupyter-lsp==2.3.0
jupyter_bokeh==4.0.5
jupyter_client==8.8.0
jupyter_core==5.7.2
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
lark==1.3.1
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
legacy-cgi==2.6.3
llvmlite==0.44.0
louis==3.33.0
lxml==5.4.0
lz4==4.4.0+dfsg
Mako==1.3.9.dev0
mapclassify==2.10.0
Markdown==3.7
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1+dfsg1
matplotlib-inline==0.2.1
mdurl==0.1.2
meteo_qt==4.2
MetObs-toolkit==1.0.2
mistune==3.1.4
more-itertools==10.7.0
mpmath==1.3.0
mutagen==1.47.0
narwhals==2.17.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.9.1
nest-asyncio==1.6.0
netCDF4==1.7.4
networkx==3.6.1
notebook==7.5.0
notebook_shim==0.2.4
notify2==0.3.1
numba==0.61.2
numexpr==2.10.2
numpy==2.2.4
nvidia-nccl-cu12==2.30.4
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.47
opencv-python==4.12.0.88
openpyxl==3.1.5
OWSLib==0.33.0
packaging==25.0
paho-mqtt==2.1.0
pandas==2.2.3+dfsg
pandocfilters==1.5.1
parso==0.8.5
patsy==1.0.1
pexpect==4.9.0
pillow==11.1.0
Pint==0.25.2
pipx==1.7.1
platformdirs==4.3.7
plotly==5.20.0
pluggy==1.5.0
polars==1.40.1
polars-runtime-32==1.40.1
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
prophet==1.3.0
proto-plus==1.27.1
protobuf==6.33.5
psutil==7.0.0
psycopg2==2.9.10
psygnal==0.15.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaml==26.2.1
pyarrow==19.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycairo==1.27.0
pycparser==2.23
pycryptodomex==3.20.0
pycups==2.0.4
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.10.1
pylibacl==0.7.2
pymannkendall==1.4.3
pymodbus==3.11.4
pynmea2==1.19.0
pyogrio==0.12.1
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyperclip==1.11.0
pyproj==3.7.1
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-QScintilla==2.14.1
PyQt6_sip==13.10.0
pyqtgraph==0.14.0
pyserial==3.5
pyshp==3.0.3
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
pysmbc==1.0.25.1
pytest==8.3.5
python-apt==3.0.0
python-box==7.4.1
python-dateutil==2.9.0
python-debian==1.0.1
python-json-logger==4.0.0
python-magic==0.4.27
pytz==2025.2
pyusb==1.3.1
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0.2
pyzmq==27.1.0
rasterio==1.5.0
ratelim==0.1.6
referencing==0.36.2
refet==0.4.2
reportlab==4.3.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rfc3987-syntax==1.1.0
rich==14.2.0
rlPyCairo==0.3.0
rpds-py==0.21.0
rsa==4.9.1
scikit-base==0.12.6
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.15.3
scooby==0.11.0
scour==0.38.2
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.18.0
setproctitle==1.3.6
setuptools==78.1.1
shap==0.48.0
shapely==2.1.2
shapiq==1.4.1
shiboken6==6.10.1
six==1.17.0
sktime==0.36.1
slicer==0.0.8
soupsieve==2.7
sparse-transform==0.2.1
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.4+dfsg
sympy==1.13.3
tables==3.10.2
tabulate==0.10.0
tenacity==8.4.2+really8.4.1
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.3
typeguard==4.4.2
types-aiofiles==24.1
types-antlr4-python3-runtime==4.13
types-assertpy==1.1
types-atheris==2.3
types-aws-xray-sdk==2.14
types-beautifulsoup4==4.12
types-bleach==6.2
types-boltons==24.1
types-braintree==4.31
types-cachetools==5.5
types-caldav==1.3
types-capturer==3.0
types-cffi==1.16
types-chevron==0.14
types-click-default-group==1.2
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-console-menu==0.8
types-corus==0.10
types-croniter==5.0.1
types-dateparser==1.2
types-decorator==5.1
types-defusedxml==0.7
types-Deprecated==1.2.15
types-docker==7.1
types-dockerfile-parse==2.0
types-docutils==0.21
types-editdistance==0.8
types-entrypoints==0.4
types-ExifRead==3.0
types-fanstatic==1.4
types-first==2.0
types-flake8==7.1
types-flake8-bugbear==24.12.12
types-flake8-builtins==2.5
types-flake8-docstrings==1.7
types-flake8-rst-docstrings==0.3
types-flake8-simplify==0.21
types-flake8-typing-imports==1.16
types-Flask-Cors==5.0
types-Flask-Migrate==4.0
types-Flask-SocketIO==5.4
types-fpdf2==2.8.2
types-gdb==15.0
types-gevent==24.11
types-google-cloud-ndb==2.3
types-greenlet==3.1
types-hdbcli==2.23
types-html5lib==1.1
types-httplib2==0.22
types-humanfriendly==10.0
types-hvac==2.3
types-ibm-db==3.2.4
types-icalendar==6.1
types-influxdb-client==1.45
types-inifile==0.4
types-JACK-Client==0.5
types-Jetson.GPIO==2.1
types-jmespath==1.0
types-jsonschema==4.23
types-jwcrypto==1.5
types-keyboard==0.13
types-ldap3==2.9
types-libsass==0.23
types-lupa==2.2
types-lzstring==1.0
types-m3u8==6.0
types-Markdown==3.7
types-mock==5.1
types-mypy-extensions==1.0
types-mysqlclient==2.2
types-nanoid==2.0.0
types-netaddr==1.3
types-netifaces==0.11
types-networkx==3.4.2
types-oauthlib==3.2
types-objgraph==3.6
types-olefile==0.47
types-openpyxl==3.1.5
types-opentracing==2.4
types-paramiko==3.5
types-parsimonious==0.10
types-passlib==1.7
types-passpy==1.0
types-peewee==3.17.8
types-pep8-naming==0.14
types-pexpect==4.9
types-pika-ts==1.3
types-polib==1.2
types-portpicker==1.6
types-protobuf==5.29.1
types-psutil==6.1
types-psycopg2==2.9.10
types-pyasn1==0.6
types-pyaudio==0.2
types-PyAutoGUI==0.9
types-pycocotools==2.0
types-pycurl==7.45.4
types-pyfarmhash==0.4
types-pyflakes==3.2
types-pygit2==1.15
types-Pygments==2.18
types-pyinstaller==6.11
types-pyjks==20.0
types-PyMySQL==1.1
types-pynput==1.7.7
types-pyOpenSSL==24.1
types-pyRFC3339==2.0.1
types-PyScreeze==1.0.1
types-pyserial==3.5
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-crontab==3.2
types-python-datemath==3.0.1
types-python-dateutil==2.9
types-python-http-client==3.3.7
types-python-jenkins==1.8
types-python-jose==3.3
types-python-nmap==0.7
types-python-xlib==0.33
types-pytz==2024.2
types-pywin32==308
types-pyxdg==0.28
types-PyYAML==6.0
types-qrbill==1.1
types-qrcode==8.0
types-regex==2024.11.6
types-reportlab==4.2.5
types-requests==2.32
types-requests-oauthlib==2.0
types-retry==0.9
types-RPi.GPIO==0.7
types-s2clientprotocol==5
types-seaborn==0.13.2
types-Send2Trash==1.8
types-setuptools==75.6
types-shapely==2.0
types-simplejson==3.19
types-singledispatch==4.1
types-six==1.17
types-slumber==0.7
types-str2bool==1.1
types-tabulate==0.9
types-tensorflow==2.18.0
types-TgCrypto==1.2
types-toml==0.10
types-toposort==1.10
types-tqdm==4.67
types-translationstring==1.4
types-tree-sitter-languages==1.10
types-ttkthemes==3.2
types-ujson==5.10
types-unidiff==0.7
types-untangle==1.2
types-usersettings==1.1
types-uWSGI==2.0
types-vobject==0.9.9
types-waitress==3.0.1
types-WebOb==1.8
types-whatthepatch==1.0
types-workalendar==17.0
types-WTForms==3.2.1
types-wurlitzer==3.1
types-xdgenvpy==3.0
types-xmltodict==0.14
types-zstd==1.5
types-zxcvbn==4.4
typing_extensions==4.13.2
tzdata==2025.2
ufoLib2==0.17.1
uncertainties==3.2.3
unidiff==0.7.5
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
userpath==1.9.2
uv==0.9.18
virtualenv==20.31.2
wadllib==2.0.0
wcwidth==0.2.14
webcolors==1.13
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.5
wheel==0.46.1
widgetsnbextension==4.0.15
xarray==2026.2.0
xdg==5
xgboost==3.2.0
xyzservices==2025.11.0
yellowbrick==1.5
yt-dlp==2025.4.30
zipp==3.21.0
zopfli==0.2.3.post1
